$color1: rgb(238, 186, 248);
$color2: silver;
$color3: rgb(202, 124, 253);
$color4: yellow;

$font1: "montserrat", sans-serif;
$font2: Arial, Helvetica, sans-serif;
$font3: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$breakpoint1: 600px;
$breakpoint2: 960px;
$breakpoint3: 1024px;
