@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=Monoton&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

$color1: rgb(238, 186, 248);
$color2: silver;
$color3: rgb(202, 124, 253);
$color4: yellow;

$font1: "montserrat", sans-serif;
$font2: Arial, Helvetica, sans-serif;
$font3: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$font4: "Dancing Script", cursive;
$breakpoint1: 600px;
$breakpoint2: 960px;
$breakpoint3: 1024px;
